---
import Formlayaut from "../layouts/Formlayaut.astro";
import InputText from "../components/InputText.astro";

---

<Formlayaut>
	<h2 slot="subtitulo">Ingrese informacion</h2>
	<InputText
	etiqueta="Nombre completo"
	slot="caja-texto"
/>
<InputText
	etiqueta="Apellido Completo"
	slot="caja-texto"
/>
<InputText
	etiqueta="email"
	slot="caja-email"
/>
