---
import ButtonSend from "../components/ButtonSend.astro";
import InputText from "../components/InputText.astro";
import RadioButtonGroup from "../components/RadioButtonGroup.astro";
import Select from "../components/Select.astro";
import FormLayout from "../layouts/FormLayout.astro";


---
<FormLayout>
	<h2 class="subtitulo" slot="subtitulo">Ingrese información</h2>
	<InputText
	etiqueta="Nombre Completo"
	slot="caja-texto"
/>
<InputText
	etiqueta="Apellido Completo"
	slot="caja-apellido"
/>
<InputText
	etiqueta="Email"
	slot="caja-email"
/>

<RadioButtonGroup
	etiqueta="Seleccione tipo de documento:"
	slot="grupo-radio"
/>

<Select
	etiqueta="Seleccione ciudad:"
	slot="select-ciudades"
/>
<ButtonSend
	etiqueta="Enviar"
	slot="boton-envio"
/>
<style>
.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
	font-weight: 300px;
    font-size: 22px;
    color: blue;
	margin-left: 150px;
	margin-top: 20px;
}
</style>
