---
   interface Props {
        etiqueta: string
    }


    //Crear una variable
    //para recibir la etiqueta
    const  etiqueta  = Astro.props.etiqueta;
---
<!--
Etiqueta input:
Se utiliza para los siguientes
controles:
- campo de texto
- password
- checkbox
- radio buttom
- boton de envio
ES ETIQUETA CERRADA
-->
<label>{etiqueta}:</label>
<input type="text"/>
<style>
    /*Solo se puede poner aqui*/
    /*Sintaxis css */
    /*Estilos para el input text*/
    /*Selector de etiqueta: */
    /*Estilos aplicables a toda etiqueta*/
    /*Señalada por el selector */
    input[type="text"]{
        background-color: rgb(73, 177, 247);
        width: 200px;
        height: 15px;
        color: blue;
        /* bordes:
        -color
        -peso(grosor)
        -estilo(tipo de linea)
        */
        border-color:rgb(115, 44, 182);
        border-width: 3px;
        border-style: solid;
        border-radius: 15px;
    }

</style>
