---
//div: etiqueta abierta
//     tienen elementos dentro
//     permite especificar propiedades de ubicacion
   interface Props {
        etiqueta: string
    }


    //Crear una variable
    //para recibir la etiqueta
    const  etiqueta  = Astro.props.etiqueta;
---

<div class="rbg">
    <label>{etiqueta}</label>
    <div id="Cedula">
        <input class="radio-bot"
        type="radio"
        name="rbg"
        id="radio1"
    /> <strong>CC</strong>
    </div>
    <div id="TarjetaIdentidad">
    <input class="radio-bot"
        type="radio"
        name="rbg"
        id="radio2"
    /> <strong>TI</strong>
    </div>
    <div id="CedulaExtrangeria">
    <input class="radio-bot"
        type="radio"
        name="rbg"
        id="radio3"
    /> <strong>CE</strong>
    </div>

</div>
<style>
    .rbg{
        background-color: rgb(209, 211, 211);
         border-color:rgb(122, 122, 122);
        border-width: 3px;
        border-style: solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-top: 20px;
        width: 90%;
    }
    #Cedula .radio-bot{
        display: inline-block;
        /*display:
          determina como una etiqueta
          se comportara en cuanto a:display:
          -largo
          -ancho
          -ubicación*/
        width:20px;
        height: auto;
    }
    #TarjetaIdentidad .radio-bot{
        background-color: darkcyan;
        display: inline-block;
        height: auto;
        width: 20px;
    }
    #CedulaExtrangeria .radio-bot {
        background-color: rgb(240, 13, 13);
        display: inline-block;
        width: 20px;
        height: auto;

    }
</style>
