---
//div: etiqueta abierta
//     tienen elementos dentro
//     permite especificar propiedades de ubicacion
   interface Props {
        etiqueta: string
    }


    //Crear una variable
    //para recibir la etiqueta
    const  etiqueta  = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<div>
    <div id="Cedula">
        <input
        type="radio"
        name="rbg"
        id="radio1"
    /> <strong>CC</strong>
    </div>
    <div id="TarjetaIdentidad">
    <input
        type="radio"
        name="rbg"
        id="radio2"
    /> <strong>TI</strong>
    </div>
    <div id="CedulaExtran">
    <input
        type="radio"
        name="rbg"
        id="radio3"
    /> <strong>CE</strong>
    </div>

</div>
<style>
    #Cedula{
        background-color: coral;
        /*display:
          determina como una etiqueta
          se comportara en cuanto a:display:
          -largo
          -ancho
          -ubicación*/
        display: inline;
    }
    #TarjetaIdentidad{
        background-color: darkcyan;
        display: inline;
    }
    #CedulaExtran{
        background-color: cornflowerblue;
        display: inline;
    }
</style>