---
import "./FormLayout.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="Titulo">Formulario de registro</h1>
    <div class="form">
        <slot class="subtitulo" slot name="subtitulo"/>

        <slot name="caja-texto"/>

        <slot name="caja-apellido"/>

        <slot name="caja-email"/>

        <slot name="grupo-radio"/>

        <slot name="select-ciudades"/>

        <slot name="boton-envio"/>
    </div>

</body>
</html>
