.form{
        display:block;
        background-color: lightgray;
        width: 500px;
        border: 2px solid black;
        margin: 20px auto;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 15px 17px 16px -5px rgba(3, 3, 3, 0.97);
    }

.Titulo{
    color: rgb(85, 85, 165);
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    font-weight: 600px;
}